<div class="container pitch-details">
  <div class="row unique-pitch-details d-flex justify-content-between">
  <h2><%= @pitch.name %></h2>
    <div class="column-pitch col-8">
      <div class="pitch-adress-image">
        <%= cl_image_tag @pitch.photo.key, crop: :fill, class: "pitch-unique"%>
        <div class= "location-and-rating d-flex justify-content-between">
          <p><i class="fa-solid fa-location-dot"></i> <%= @pitch.address%></p>
          <p class="pitch-review"> 97% </p>
        </div>
      </div>
    </div>
    <div class="column-pitch col-4">
      <h4>Description </h4>
      <p>State-of-the art pitch beautifully located in the centre of London, next to LSE & King's College Universities. Recently refurbished. Book now! </p>
      <h4>Opening Hours</h4>
      <p>Weekdays: 10:00 - 22:00<p>
      <p>Week-ends: & Bank Holidays: 10:00 - 23:00</p>
      <h4>Make a booking</h4>
        <div class="pitch-booking-form mt-3">
        <%= simple_form_for [@pitch, @booking] do |f| %>
          <%= f.input :start_date, as: :datetime, html5: true %>
          <%= f.input :end_date, as: :datetime, html5: true %>
          <%= f.submit class: "btn btn-success btn-booking-pitch text-white mt-3" %>
        <% end %>
        </div>
    </div>
  </div>
</div>
